{% extends 'base.html' %}
{% block content %}

<h1>Food Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ food.name }}</span>
        <p>Description: {{ cat.description|linebreaks }}</p>
        <p>Calories: {{ food.calories }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'foods_update' food.id %}">Edit</a>
        <a href="{% url 'foods_delete' food.id %}">Delete</a>
      </div>
    </div> 
  </div>
    <div class="col s6">
      <form action="{% url 'add_feeding' cat.id %}" method="POST">
        {% csrf_token %}
        <!-- Render the inputs -->
        {{ feeding_form.as_p }}
        <input type="submit" class="btn" value="Add Feeding">
      </form>
      <br>
      {% if cat.fed_for_today %}
        <div class="card-panel teal-text center-align">{{cat.name}} has been fed all meals for today</div>
      {% else %}
        <div class="card-panel red-text center-align">{{cat.name}} might be hungry</div>
      {% endif %}
      <table class="striped">
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in cat.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- New Markup Above -->
  </div>

</div>

{% endblock %}